{% extends 'base.html' %}

{% block main %}


<div class="container">
    <div class="mx-auto text-center">
        <div class="row">
            <div class="col-md-12">
                <h1>Add Pet Form</h1>
                <form action="#" method="POST">
                    {{ form.csrf_token }}

                    {{ form.hidden_tag() }}

                    {% for field in form if field.widget.input_type !='hidden' %}
                    <div class="form-group">
                        {{field.label}}
                        {{field(class_='form-control text-center')}}
                    </div>


                    {% endfor %}
                    <button class="btn btn-success my-3">Submit</button>
                </form>
                <a class="btn btn-large btn-danger" href="/">Go Back</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}